.body{
    background-color: lightpink;
}
.parrafo{
    background-color: antiquewhite;
}
.gris{
    background-color: gray;
}
.celeste{
    background-color: aquamarine;
}
.amarillo{
    background-color: burlywood;
}
#bb{
    background-color: darkseagreen;
}